---
import top from '../src/assets/pro2.png';
---

<button class="w-16 transform motion-safe:hover:scale-110 text-sm text-white hidden fixed z-190 bottom-4 right-4 border-0  rounded-full backdrop-blur-md bg-black bg-opacity-20 font-bold"  id="to-top-button" onclick="goToTop()">
    <img  src={top} alt="" />
</button>


<script is:inline>
    let mybutton = document.getElementById("to-top-button");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    function goToTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
    </script>