<main class="py-20 md:py-60 " id="Contact">
    <form name="contact" method="POST" data-netlify="true" class="border-2 border-borderWindow  pb-10 bg-headerColor rounded-xl max-w-xl  mx-8 md:mx-auto ">
        <section class=" px-8 py-10 text-center">
            <h2 class="text-4xl text-textColor pb-8 font-bold">Let's Chat 👋</h2>
            <p class=" text-colorProfile text-left">Fill in your info in the form below and I look forward to hearing from you!</p>
            
        </section>
        <p class="">
          <label class="flex flex-col px-8 py-4 mb-2 gap-5 text-sm font-medium text-gray-900 dark:text-gray-300">Name: <input type="text" name="name" class=" rounded-md py-3 px-3 backdrop-blur-md bg-windowColor bg-opacity-20" /></label>
        </p>
        <p>
          <label class="flex flex-col px-8 py-4 mb-2 gap-5 text-sm font-medium text-gray-900 dark:text-gray-300">Email: <input type="email" name="email" class=" rounded-md  py-3 px-3 backdrop-blur-md bg-windowColor bg-opacity-20"/></label>
        </p>
       
        <p>
          <label class="flex flex-col px-8 py-4 gap-5 text-sm font-medium text-gray-900 dark:text-gray-300">Message: <textarea name="message" class="backdrop-blur-md bg-windowColor bg-opacity-20 block p-2.5  rounded-md" rows="5"></textarea></label>
        </p>
        <p class="p-4 mx-auto text-center">
            <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-100 rounded-md group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-headerColor rounded-md group-hover:bg-opacity-0">
                    Send!
                </span>
              </button>
        
        </p>
      </form>
</main>