---
import HeroImage from "../assets/hero_image.png";
---

<main class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-2  place-content-center justify-items-center items-center lg:h-screen " >
  <section class="text-textColor p-8 ">
    <h1 class="text-6xl font-bold">
      Hi, <br /> I'm{" "}
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-green-200 via-green-400 to-purple-700 animate-text"
      >
        Camilo Suarez
      </span>
    </h1>
    <p class="text-2xl pt-10">
      <span class="hover:animate-spin">Frontend developer</span> and UI enthusiast
      who specializes in creating beautiful and user-friendly interfaces.
    </p>
  </section>
  <section class=" items-center hidden md:block lg:block">
    <img src={HeroImage} alt="" />
  </section>
</main>
