---
import Logo from '../assets/qr.png'

const navItems = [
  {title: "Projects", url: "#Projects"},
  {title: "Profile", url: "#Profile"}
]
---

<nav class=" flex justify-between items-center max-w-xs mx-auto	 px-4 backdrop-blur-md bg-black bg-opacity-10 hover:border-emerald-500 sticky top-5 z-50  rounded-xl border-2 border-borderWindow">
  <a href="#home" class="cursor-pointer" onclick="goToTop()">
    <img class="w-20" src={Logo} alt="">
  </a>
  <section>
    <ul class=" flex justify-center gap-4 text-white cursor-pointer">
      {navItems.map(({title, url}) => (
        <li>
          <a class="bg-gradient-to-r from-yellow-200 to-yellow-200
      bg-no-repeat [background-position:0_88%]
      [background-size:100%_0.2em]
      motion-safe:transition-all motion-safe:duration-200
      hover:[background-size:100%_100%]
      focus:[background-size:100%_100%]" href={url}>{title}</a></li>
      ))}
    </ul>
  </section>
</nav>




