---
import ProfileImage from "../assets/astro-profile.png";
import QR from "../assets/qr.png";
import {
  SiCss3,
  SiHtml5,
  SiJavascript,
  SiSass,
  SiFigma,
  SiReact,
  SiGit,
} from "react-icons/si";
import { HiFire } from "react-icons/hi";
---

<main class="pb-20">
  <section
    class="border-x-2 border-t-2 border-borderWindow flex items-center bg-headerColor h-12 rounded-t-xl"
  >
    <h1 class="text-lg text-textColor pl-6">Astrodev's profile</h1>
  </section>
  <section
    class="flex backdrop-blur-md bg-windowColor bg-opacity-20 rounded-b-xl border-x-2 border-b-2 border-borderWindow"
  >
    <section
      class="w-1/3 backdrop-blur-md bg-windowColor bg-opacity-20 border-r-2 border-r-borderWindow"
    >
      <article class="bg-headerColor m-4 rounded-xl">
        <img
          class="object-cover h-[470px] rounded-br-xl"
          src={ProfileImage}
          alt=""
        />
      </article>
    </section>
    <section class="w-2/3 m-4 flex gap-4">
      <section class="">
        <h4 class="bg-headerColor p-2 text-white">Camilo Suarez</h4>
        <p class="text-white p-2 border-2 border-borderWindow">
          I am a frontend developer with 2 years of experience working on web
          applications. I have a deep understanding of HTML, CSS, and
          JavaScript, and I am able to create responsive and user-friendly
          interfaces. I am able to utilize them to create efficient and
          high-quality code. Additionally, I have a strong understanding of
          browser compatibility issues and how to work around them. I am able to
          work independently and am able to take ownership of projects. I am
          also a quick learner and am always willing to learn new
          technologies.Lastly, I also have a strong interest in AI and web3, and
          I am looking to learn more about these technologies.
        </p>
        <section
          class="pt-4 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
        >
          <article class="font-bold">
            <h4 class="bg-headerColor p-2 text-white">Abilities:</h4>
            <ul
              class="border-2 p-2 border-borderWindow grid grid-cols-2 content-center gap-4"
            >
              <li class="text-orange-100 flex items-center space-x-2">
                <SiHtml5 />
                <span>HTML</span>
              </li>
              <li class="text-blue-500 flex items-center space-x-2">
                <SiCss3 />
                <span>CSS</span>
              </li>
              <li class="text-yellow-400 flex items-center space-x-2">
                <SiJavascript />
                <span>JS</span>
              </li>
              <li class="text-rose-400 flex items-center space-x-2">
                <SiSass size="1rem" />
                <span>SASS</span>
              </li>
              <li class="flex items-center text-green-500 space-x-2">
                <SiFigma size="1rem" color="green" />
                <span>Figma</span>
              </li>
              <li class="text-orange-600 flex items-center space-x-2">
                <HiFire size="1rem" />
                <span>Astro</span>
              </li>
              <li class="text-blue-500 flex items-center space-x-2">
                <SiReact size="1rem" />
                <span>Reactjs</span>
              </li>
              <li class="text-orange-400 flex items-center space-x-2">
                <SiGit size="1rem" />
                <span>Git</span>
              </li>
            </ul>
          </article>
          <article class="">
            <h4 class="bg-headerColor p-2 text-white">Areas of interest</h4>
            <ul class="border-2 p-2 border-borderWindow">
              <li>AI</li>
              <li>UI/UX</li>
              <li>A11y</li>
              <li>Web3</li>
              <li>Astronomy</li>
              <li>AR/VR</li>
            </ul>
          </article>
          <article class="">
            <h1 class="bg-headerColor p-2 text-white">Scan for more info</h1>
            <img class="border-2 border-borderWindow" src={QR} alt="" />
          </article>
        </section>
      </section>
    </section>
  </section>
</main>
<!--  I am a frontend developer with years of experience working on web
applications. I have a deep understanding of HTML, CSS, and JavaScript, and I am
able to create responsive and user-friendly interfaces. I am able to utilize
them to create efficient and high-quality code. Additionally, I have a strong
understanding of browser compatibility issues and how to work around them. I am
able to work independently and am able to take ownership of projects. I am also
a quick learner and am always willing to learn new technologies.Lastly, I also
have a strong interest in AI and web3, and I am looking to learn more about
these technologies. "A frontend developer is someone who takes a design and
makes it work. They take a design and make it look good and work well." A
frontend developer is someone who creates the look and feel of a website or app.
They make sure the user interface is easy to use and visually appealing. I am a
Frontend developer with 2 year of experience. I have a good understanding of
HTML, CSS, and JavaScript. I am able to create responsive websites using
Bootstrap or Foundation. I have also worked with React and React Native. I am
able to work independently and can take ownership of a project. I am a quick
learner and have a good eye for detail. I am able to work under pressure and can
meet deadlines. I am also a team player and am able to work collaboratively with
other team members. I am looking for a position where I can continue to learn
and grow as a Frontend developer. I am a frontend developer who is passionate
about creating beautiful and user-friendly web experiences. I am always up for a
challenge, and I pride myself on being able to quickly learn new technologies. I
am committed to creating the best possible user experience for my clients and
their users. -->
