---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "../data/data.json";

---

<main class="pt-20 md:pt-60" id="Projects">
  <h1 class="text-center bg-gradient-to-r from-gray-100 to-gray-300 bg-clip-text text-transparent text-5xl font-bold">Projects</h1>
  <section class="grid grid-cols-1 gap-8 mt-10 md:grid-cols-2 lg:grid-cols-3 p-8">
    {
      projects.map((project, index) => (
        <ProjectCard project={project} />
      ))
    }
  </section>
</main>
