---
const { project } = Astro.props;
import Stack from './Stack.astro'
---

<main
  class="atropos flex flex-col bg-headerColor rounded-xl border-2 border-borderWindow hover:border-pink-500 "
>
  <img class="m-2 rounded-md" src={project.image} alt="" />
  <section class="flex flex-col h-full m-2 justify-between">
  <p class="pb-2 text-sm text-gray-300">{project.description}</p>
  <section class="flex justify-between items-center pt-2">
  <article class="flex">
    {project.stacks?.map((stack, index)=>(
      <Stack {...stack} />
    ))}
  </article>
  <a target="_blank" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-md group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800" href={project.link}> <span class="relative p-2  transition-all ease-in duration-75 bg-headerColor   rounded-md group-hover:bg-opacity-0">
    View Source</span></a>
  </section>
  </section>
</main>

