---
const { project } = Astro.props;
import { Icon } from 'astro-icon'
import Stack from './Stack.astro'
---

<main
  class="atropos flex flex-col bg-headerColor rounded-xl border-2 border-borderWindow hover:border-pink-500 "
>
  <img class="m-2 rounded-md" src={project.image} alt="" />
  <section class="flex flex-col h-full m-2 justify-between">
  <p class="pb-2 text-sm text-gray-300">{project.description}</p>
  <section class="flex justify-between items-center pt-2">
  <article class="flex">
    {project.stacks?.map((stack, index)=>(
      <Stack {...stack} />
    ))}
  </article>
  <a target="_blank" class=" border-2 border-borderWindow rounded-full m-1 flex flex-row justify-center items-center px-2 hover:border-pink-500" href={project.link}>
    <Icon name="mdi:github" color="white" class="w-6 p-1 color:white" />
    <span class="text-sm text-white">Github</span>
  </a>
  </section>
  </section>
</main>

