---
import {Icon} from 'astro-icon'
const {logo, text} = Astro.props

---

<main class="border-2 border-borderWindow rounded-full m-1 flex justify-center hover:border-pink-500">
    <Icon name={logo} class="w-6 p-1" title={text} />
</main>