---
import {Icon} from 'astro-icon'
const {logo, text} = Astro.props

---

<main class="border-2 border-borderWindow rounded-xl m-1">
    <span class="flex items-center gap-2 px-2">
        <Icon name={logo} class="w-6 "/><p class=" text-white text-xs font-light">{text}</p>
    </span>
</main>