<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Mi website de Astro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-home-background bg-cover bg-no-repeat max-w-[1180px] m-auto">
    <nav>
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Contact</a>
    </nav>
    <article>
      <slot />
    </article>
  </body>
</html>
